.order-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #000;
  margin-bottom: 10px;
}

.order-name {
  margin-right: 30px;
}

.order-price {
  margin-left: auto;
}

.order-quantity {
  margin-left: 30px;
}

.cross-btn {
  border: none;
  background: none;
  margin-left: 30px;
}

.cross-btn-img {
  width: 20px;
  cursor: pointer;
}