#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
  border-radius: 30px;
  padding: 30px;
}